<h1>Find out what games are showing at these sports bars:</h1>
<h4><i>Don't see your sports bar or venue?  <%= link_to 'Register', signup_path %> for free</i></h4>

<table id="users_table">
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
  
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Website</th>
  </tr>

<% @users.each do |user| %>
	<% unless user.admin? == true || user.role? == true %>
    <td><%= link_to user.name, user %></td>
    <td><%= user.street %>, <%= user.city %>, <%= user.state %>, <%= user.zip %></td>
    <td><%= number_to_phone(user.phone) %></td>
    <td><%= user.website %></td>
    <% if signed_in? && current_user.admin? %>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= button_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
   <% end %>
  </tr>
<% end %>
</table>

<br>
<% if signed_in? && current_user.admin? %>
	<%= link_to 'New User', new_user_path %>
<% end %>
<br />