<h1>Sports Bars</h1>

<table id="users_table">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Website</th>
  </tr>

<% @users.each do |user| %>
  <tr>
	<% unless user.admin? == true %>
    <td><%= link_to user.name, user %></td>
    <td><%= user.street %>, <%= user.city %>, <%= user.state %>, <%= user.zip %></td>
    <td><%= user.phone %></td>
    <td><%= user.website %></td>
    <% if signed_in? && current_user.admin? %>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
   <% end %>
  </tr>
<% end %>
</table>

<br>
<% if signed_in? && current_user.admin? %>
	<%= link_to 'New User', new_user_path %>
<% end %>
<br />