<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @title %>
      </h1>
	<% unless @user.line_items.empty? %>
     <p>Last updated: <%= time_ago_in_words(@user.line_items.last.created_at)%> ago</p>
	<% end %>
	  
		
		<p>Here are the games that we are showing:</p>
		

		<% @user.line_items.each do |item| %>
		<% if item.game.date > Time.now - 21600 %>
		 <l1><%= item.game.name %><br>
		 <li><%= item.game.date.strftime("%I:%M %P %Z - %a %b %d") %></li><br />
		<% if current_user?(@user) %>
		<%= button_to 'Remove Game', item, :method => :delete, :class => "remove_button round" %>
		<% end %>
		<% end %>
		<% end %>
		<br />	
	
    </td>
    <td class="sidebar round">
      <strong><%= @user.name %></strong>
      <br><%= @user.street %>
	  <br><%= @user.city %>, <%= @user.state %> <%= @user.zip %>
	  <br><%= number_to_phone(@user.phone)  %>
	  <br><%= link_to @user.website, "http://#{@user.website}", :target => "_blank" %><br />
    <br>  
	<% if current_user?(@user) %>
	  <%= button_to 'Add Games', {:controller => "schedule", :action => "index"}, :method => :get, :class => "schedule_button round"  %>
	  <% end %>
	<br />
    </td>
    
  </tr>
</table>

 