<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @user.name %>
      </h1>
	  <br>
		<p>Here are the games that we are showing:</p>
		<br>
		<% @user.line_items.each do |item| %>
		 <l1><%= item.game.name %></li><br />
		 <li><%= item.game.date %></li><br />
			
		<% end %>
		<br />
	  <% if current_user?(@user) %>
	  <td><%= link_to 'Add Games', :controller => "schedule", :action => "index" %>
	  <% end %>
	
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>Email</strong> <%= @user.email %><br />
      <strong>Street</strong> <%= @user.street %><br />
	  <strong>City</strong> <%= @user.city %><br />
	  <strong>State</strong> <%= @user.state %><br />
	  <strong>Zip</strong> <%= @user.zip %><br />
	  <strong>Phone</strong> <%= @user.phone%><br />
	  <strong>Website</strong> <%= @user.website %><br />
      
    </td>
  </tr>
</table>

