<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @user.name %>
      </h1>
	  <br>
		<p>Here are the games that we are showing:</p>
		<br>
		<% @user.line_items.each do |item| %>
		 <l1><%= item.game.name %></li>
		<% end %>
		<br />
	  <% if current_user?(@user) %>
	  <td><%= link_to 'Add Games', :controller => "schedule", :action => "index" %>
	  <% end %>
	
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= link_to @user.name, edit_user_path(@user) %><br />
      <strong>Email</strong> <%= @user.email %>
      
    </td>
  </tr>
</table>

