<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @title %>
      </h1>
	<% unless @user.line_items.empty? %>
     <p>Last updated: <%= time_ago_in_words(@user.line_items.last.created_at)%> ago</p>
	<% end %>
	  
		
		<br><h2>These are the games on our schedule:</h2>
		

		<% @user.line_items.each do |item| %>
		<li><% if item.game.date > Time.now - 21600 %>
		 <%= item.game.name %>:
		 <%= item.game.date.strftime("%a, %b %d - %I:%M %P %Z") %>
		<% if current_user?(@user) %>
		<%= button_to 'Remove this Game', item, :method => :delete, :class => "remove_button" %>
		<br>
		<% end %>
		<% end %>
		<% end %>
		<br />	
	
    </td>
    <td class="sidebar round">
      <strong><%= @user.name %></strong>
      <br><%= @user.street %>
	  <br><%= @user.city %>, <%= @user.state %> <%= @user.zip %>
	  <br><%= number_to_phone(@user.phone)  %>
	  <br><%= link_to @user.website, "http://#{@user.website}", :target => "_blank" %><br />
    <br>  
	<% if current_user?(@user) %>
	  <%= button_to 'Add More Games', {:controller => "schedule", :action => "index"}, :method => :get, :class => "schedule_button round"  %>
	  <% end %>
	<br />
    </td>
    
  </tr>
</table>

 