<!DOCTYPE html>
<html>
  <head>
    <title>sportsPanda | Sports Bars</title>
  </head>
  <body>
    <h1>Sports Bars</h1>
    <p>
      Here are the sports bars.
	<table id="venues_table">
		
		<% @venues.each do |venue| %>
		  <tr>
		    <td><%= venue.name %></td>
		    <td><%= venue.street %> <%= venue.city %> <%= venue.state %> <%= venue.zip %></td>
		    <td><%= venue.phone %></td>
		    <td><%= venue.website %></td>
		  </tr>
		<% end %>
	  </table>
    </p>
  </body>
</html>
