<h1>Select your game:</h1>
<h4><i>Don't see your game?  Send us an email at <b>contact@channelthegame.com</b></i></h4>

<table id="games_table">
  <tr>
    <th>Game</th>
    <th>Sport</th>
    <th>Time/Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
<% if game.date > Time.now - 21600 %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= link_to game.name, game %></td>
    <td><%= game.sport %></td>
    <td><%= game.date.strftime("%a, %b %d - %I:%M %P %Z") %></td>
    <% if signed_in? && current_user.admin? %>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= button_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
  <% end %>
  <% end %>  
</table>


<% if signed_in? && current_user.admin? %>
<br>
<%= link_to 'New Game', new_game_path %>
<br />
<% end %>
