<h1>Games / Sports Events</h1>

<table id="games_table">
  <tr>
    <th>Name</th>
    <th>Sport</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
<% if game.date > Time.now + 21600 %>
  <tr>
    <td><%= link_to game.name, game %></td>
    <td><%= game.sport %></td>
    <td><%= game.date.strftime("%I:%M %P %Z - %a %b %d") %></td>
    <% if signed_in? && current_user.admin? %>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= button_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
  <% end %>
  <% end %>  
</table>


<% if signed_in? && current_user.admin? %>
<br>
<%= link_to 'New Game', new_game_path %>
<br />
<% end %>
