<h1>Games / Sports Events</h1>

<table id="games_table">
  <tr>
    <th>Name</th>
    <th>Sport</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= link_to game.name, game %></td>
    <td><%= game.sport %></td>
    <td><%= game.date %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
