<p id="notice"><%= notice %></p>

<h2>
  Places showing <b><%= @game.name %></b> - <%= @game.date.strftime("%a, %b %d - %I:%M %P %Z") %>
</h2>

	<table id="profile_bars">
	<tr>
		<th>Bar Name</th>
		<th>Address</th>
		<th>Phone</th>
		<th>Website</th>
	</tr>
	<% @games.each do |item|%>
	<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
		<td><%= link_to item.user.name, :controller => "users", :action => "show", :id => item.user %></td>
		<td><%= item.user.street %>, <%= item.user.city %>, <%= item.user.state %>, <%= item.user.zip %></td>
		<td><%= item.user.phone %></td>
		<td><%= item.user.website %></td>
		
	</tr>
	<% end %>
	</table>
			
</p>
<% if signed_in? && current_user.admin? %>
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
<% end %>