<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @game.name %>
</p>

<p>
  <b>Sport:</b>
  <%= @game.sport %>
</p>

<p>
  <b>Date:</b>
  <%= @game.date %>
</p>

<p>
	<b>Sports Bars showing <%= @game.name %></b>
	<table id="profile_bars">
	<% @game.line_items.each do |item|%>
	<tr>
		<td><%= link_to item.user.name, :controller => "users", :action => "show", :id => item.user %></td>
		<td><%= item.user.street %></td>
		<td><%= item.user.city %></td>
		<td><%= item.user.state %></td>
		<td><%= item.user.zip %></td>
		<td><%= item.user.phone %></td>
		
	</tr>
	<% end %>
	</table>
			
</p>
<% if signed_in? && current_user.admin? %>
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
<% end %>