<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sportsbar.name %>
</p>

<p>
  <b>Street:</b>
  <%= @sportsbar.street %>
</p>

<p>
  <b>City:</b>
  <%= @sportsbar.city %>
</p>

<p>
  <b>State:</b>
  <%= @sportsbar.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @sportsbar.zip %>
</p>

<p>
  <b>Email:</b>
  <%= @sportsbar.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @sportsbar.phone %>
</p>

<p>
  <b>Website:</b>
  <%= @sportsbar.website %>
</p>

<p>
	<b>Games that <%= @sportsbar.name%> will be showing:</b>
	<table id="profile_games">
	<% @sportsbar.games.each do |game| %>
	<tr>
		<td><%= link_to game.name, game %></td>
		<td><%= game.sport%></td>
		<td><%= game.date%></td>
	</tr>
	<% end %>
	</table>
</p>

<% if signed_in? && current_user.admin? %>
<%= link_to 'Edit', edit_sportsbar_path(@sportsbar) %> |
<%= link_to 'Back', sportsbars_path %>
<% end %>

<% if signed_in? %>
<%= link_to 'Add Games', new_game_path %>
<% end %>