<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @line_item.game_id %>
</p>

<p>
  <b>User:</b>
  <%= @line_item.user_id %>
</p>


<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
