<!DOCTYPE html>
<html>
<head>
  <title>ChanneltheGame | Find Games Fast</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= javascript_include_tag :defaults %>
</head>

<body>
	<div class="container">
	      <header>
	        <% logo = image_tag("ctg.jpg", :alt => "ChanneltheGame", :class => "round") %>
			<%= link_to logo, root_path %>
	        <nav class="round">
	          <ul>
	            <li><%= link_to "Games", games_path %></li>
				<li><%= link_to "Sports Bars", users_path%></li>
				<% if signed_in? %>
				<li><%= link_to "My Profile", current_user %></li>
				<li><%= link_to "Settings", edit_user_path(current_user) %></li>
				<% end %>
				<% if signed_in? %>
				<li><%= link_to "Logout", signout_path, :method => :delete %></li>
				<% else %>
				<li><%= link_to "Login", signin_path %></li>
	            <% end %>
	          </ul>
	        </nav>
	      </header>
	      <section class="round">
			 <% flash.each do |key, value| %>
		          <div class="flash <%= key %>"><%= value %></div>
		        <% end %>
	        <%= yield %>
	      </section>
	  </div>
</body>

<footer>
  <nav class="round">
    <ul>
	  <li><%= link_to "About", about_path %></li>
	  <li><%= link_to "Contact Us", contact_path %></li>
      <li><a href="http://sportspanda.wordpress.com">Blog</a></li>
      <li><a href="http://twitter.com/sportspanda">Twitter</a></li>
      
	
    </ul>
  </nav>
</footer>


</html>



